<div class="row">
  <div class="col-md-8">
    <div class="jumbotron">
      <h1>Deepak's Articles</h1>
      <p>Welcome to Deepak's Articles</p>
      <p><%= link_to "Learn more", articles_path, class: 'btn btn-primary outline' if current_user %></p>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Recent Articles</h3><hr />
    <% @articles.each do |a| %>
      <strong><%= link_to a.title, a %></strong>
      <p><%= truncate(a.body) %></p>
      <p align="right">Created By: <%= a.user.username %></p>
    <% end %>
  </div>
</div>