// You can use Sass (SCSS) here: http://sass-lang.com/
.outline {
  border-radius: 4px;
}
html, body {
  height: 100%;
}
.container{
  min-height:81.2%;
}
body {
  color: #f04124;
  background: linear-gradient(rgba(196, 102, 0, 0.1), rgba(155, 89, 182, 0.2)) fixed;
}
.footer {
  width: 100%;
  color: white;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: #963F3F;
}

/* when a field is considered invalid by the browser */
form input:focus:invalid, form textarea:focus:invalid {
  border-color: #b03535;
  box-shadow: 0 0 5px #d45252;
}
/* when a field is considered valid by the browser */
form input:required:valid, form textarea:required:valid {
  border-color: #28921f;
  box-shadow: 0 0 5px #5cd053;
}