<% if current_user %>
<footer class="footer">
  <div class="container">
    <p class="text-muted">© 2016 Design and Developed by <i>Deepak Gupta</i>. All rights reserved to Deepak.</p>
  </div>
</footer>

<% else %>
<footer class="footer footer1">
<div class="container ">
<div class="row">
  <form role="form" action="" method="post" >
    <div class="col-lg-6">
      <div class="form-group">
        <label for="InputEmail">Your Email</label>
        <div class="input-group">
          <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required  >
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
      </div>
      <div class="form-group">
        <label for="InputMessage">Message</label>
        <div class="input-group"
>
          <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
      </div>
      <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right outline">
    </div>
  </form>
  <br>
  <hr class="featurette-divider hidden-lg">
  <div class="col-lg-5 col-md-push-1">
    <address>
    <h3>Office Location</h3>
    <p class="lead"><a href="#">The Pentagon<br>
Washington, DC 20301</a><br>
      Phone: XXX-XXX-XXXX</p>
    </address>
    <p>© 2016 Design and Developed by <i>Deepak Gupta</i>. All rights reserved to Deepak.</p>
  </div>
</div>
</div>
</footer>
<% end %>